*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore
*.apk
.claude/
.gstack/
.gstack/
.gbrain/
.superpowers/
error/
myorderapp/
application.backup
everything-claude-code/
/docs/demo.html
/docs/yuxiangqiezi.png
CLAUDE.md
CLAUDE_EN.md
